<form method="post" action="/bottom-bar">
    <div class="container-fluid fixed-bottom m-3 neuromorph bottom-section">
        <div class="col-auto button-">
            <button id="home" type="submit" name="bottomBar" value="home" class="neuromorph rounded-button">
                <img src="assets/icons/home.png" height="25px" width="25px" alt="add_button">
            </button>
        </div>
        <div class="col-auto button-space">
            <button name="bottomBar" value="booknotes" class="neuromorph rounded-button">
                <img src="assets/icons/book.png" height="25px" width="25px" alt="add_button">
            </button>
        </div>
        <div class="col-auto button-space">
            <button name="bottomBar" value="groups" class="neuromorph rounded-button">
                <img src="assets/icons/users.png" height="25px" width="25px" alt="add_button">
            </button>
        </div>
        <div class="col-auto button-space">
            <button name="bottomBar" value="settings" class="neuromorph rounded-button">
                <img src="assets/icons/settings.png" height="25px" width="25px" alt="add_button">
            </button>
        </div>
    </div>
</form>
